* {
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    color: #d64309;
}
.topClickable {
    list-style: none;
}
.topNav {
    display: inline-block;
    
    top: 0;
    position: fixed;
    width: 100%;
    height: auto;
    padding: 15px;
    margin: 10px;

    
    background-color: rgba(255, 255, 255, 0.479);

}
nav ul.topClickable {
    float: right;
    margin: 15px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}
.clickable {
    padding: 20px;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
}

.headerName {
    padding-left: 50px;
    padding-top: 150px;
    line-height: 22px;

    width: 100%;
}
.topContainer {
    display: flex;
    align-content: baseline;
    justify-content: space-evenly;

    max-width: 100%;
    width: auto;
    height: auto;
    /* border: 1px dotted black; */
}
#aboutMe {
    max-width: 100%;
    width: auto;
    height: auto;

    /* border: 1px dotted black; */
}
.infoIcon {
    max-width: 200px;
    width: auto;
    height: auto;
    padding: 25px;
}
.firstParBio {
    font-size: 18px;
    line-height: 20px;
}
.secondParBio {
    font-size: 16px;;
    line-height: 18px;
}
.contactContainer {
    display: flex;
    align-content: baseline;
    justify-content: space-evenly;

    max-width: 100%;
    width: auto;
    height: auto;
    /* border-top: 1px dotted black; */
}
.contactIcon {
    max-width: 100px;
    width: auto;
    height: auto;
    padding: 25px;
}
.projectContainer-1 {
    max-width: 50%;
    width: auto;
}
.projectContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.projectIcon {
    max-width: 200px;
    width: auto;
    height: auto;
    padding: 25px;

}

.bottomContainer {
    display: inline-block;
    padding: 20px;
    max-width: 100%;
    width: 100%;
}
.quizImg {
    max-width: 400px;
    width: auto;
    padding: 15px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
.projectInfo {
    float: right;
    font-size: 14px;
    line-height: 16px;
}
footer {
    position: absolute;
    width: 100%;
}
.hide {
    display: none;
}
@media screen and (max-width: 1140px) {
    .quizImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 45vw;
        width: auto;
        height: auto;
    }
    .projectInfo {
        font-size: 16px;
        text-align: center;

    }
}

@media screen and (max-width: 900px) {
    .topNav{
        width: 100%;
        height: auto;
        display: flex;
    }
    nav ul.topClickable {
        margin: 12px;
    }
    .clickable {
        padding: 20px;
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;
        justify-content: center;
        align-content: center;
    }
    .clickable {
        padding: 10px;
        font-size: 3.5vw;
        line-height: 10px;
        text-decoration: none;
    }
    .headerName {
        text-align: center;
    }
    .topContainer {
        flex-shrink: 2;
        
    }
}
@media screen and (max-width: 450px) {
    .infoIcon {
        max-width: 160px;
        width: auto;
        height: auto;
    }
    .projectIcon {
        max-width: 160px;
        width: auto;
        height: auto;
    }
}
@media screen and (max-width: 350px) {
    .infoIcon {
        max-width: 120px;
        width: auto;
        height: auto;
    }
    .projectIcon {
        max-width: 120px;
        width: auto;
        height: auto;
    }
    .contactIcon {
        max-width: 30vw;
        width: auto;
        height: auto;
    }
}