* {
    box-sizing: border-box;
    font-family: 'Long Cang', cursive;
    font-family: 'Quicksand', sans-serif;
    color: #d64309
    
}
.topNav {
    border: 1px solid black;
}
.topContainer {
    display: block;
    border: 1px solid black;
    float: left;
    max-width: 50%;
    width: 50%;
    height: 250px;
}
.headerName {
    border: 1px solid black;
}
#aboutMe {
    border: 1px solid black;
}
.contactContainer {
    /* border: 1px solid black; */
}
.projectContainer-1 {
    border: 1px solid black;
    float: right;
    max-width: 50%;
    width:50%;
    height: 250px;

}
footer {
    border: 1px solid purple;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
#projects {
    border: 1px solid black;
    max-width: 100%;
    width: 100%;
    height: 500px;
}